body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(to bottom right, #000000, #000000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root, .App {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden-input {
  display: none;
}

.circle {
  width: 80px;
  height: 80px;
  border: 3px solid #00ff00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.download-icon {
  transition: transform 0.3s ease;
}

.upload-box:hover .download-icon {
  animation: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.upload-text {
  margin-top: 10px;
  color: #00ff00;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 0 5px #00ff00;
}

.file-preview {
  margin: 16px auto 0 auto;
  padding: 10px 20px;
  background: #111;
  border: 2px solid #00ff00;
  border-radius: 8px;
  color: #00ff00;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 10px #00ff00;
  width: fit-content;
  max-width: 90%;
  overflow-x: auto;
}

.file-name {
  color: #00ff00;
  text-shadow: 0 0 5px #00ff00;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 30px;
}

.submit-button,
.cancel-button {
  color: #00ff00;
  background-color: #000;
}

.repo-table th {
  text-align: center;
  font-size: 1.5rem;
  padding: 16px 0;
}

.repo-table td {
  text-align: center;
  padding: 5px 0;
}

.repo-table button {
  color: #00ff00;
  background-color: #000;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 12px;
  border: 2px solid #00ff00;
  box-shadow: 0 0 15px #00ff00;
  cursor: pointer;
  padding: 12px 0.5px;
  width: 100px;
  margin: 8px 0;
  font-weight: bold;
  text-shadow: 0 0 5px #00ff00;
  transition: all 0.3s ease;
  display: inline-block;
}


.repo-table button:hover {
  color: #00ff88;
  text-shadow: 0 0 10px #00ff88, 0 0 20px #00ff88;
  box-shadow: 0 0 25px #00ff88;
  background-color: #000;
}

.acciones-btn {
  color: #00ff00;
  background-color: #000;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 12px;
  border: 2px solid #00ff00;
  box-shadow: 0 0 15px #00ff00;
  cursor: pointer;
  padding: 12px 0;
  margin: 8px 0;
  font-weight: bold;
  text-shadow: 0 0 5px #00ff00;
  transition: all 0.3s ease;
  display: inline-block;
  width: 100px;
  text-align: center;
}

.cerrar-vista-previa {
  color: #00ff00;
  background-color: #000;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 12px;
  border: 2px solid #00ff00;
  box-shadow: 0 0 15px #00ff00;
  cursor: pointer;
  padding: 12px 0;
  margin: 8px 0;
  font-weight: bold;
  text-shadow: 0 0 5px #00ff00;
  transition: all 0.3s ease;
  display: inline-block;
  width: 200px;
  text-align: center;
}

.cerrar-preview-btn:hover {
  color: #fff;
  background: #ff0044;
  box-shadow: 0 0 25px #ff0044;
}

.repo-table td:nth-child(2) button {
  margin-left: 65px;
}