.Container-register {
  background-color: rgba(18, 18, 18, 0.55);
  /* Fondo oscuro semi-transparente */
  padding: 25px 20px;
  border-radius: 16px;
  box-shadow: 0 0 24px #00ff0033;
  width: 350px;
  color: #ccc;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: stretch;
  height: auto;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  background: transparent;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root,
.App {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #1eff00;
  text-shadow: 0 0 10px #1eff00, 0 0 20px #76ff0e;
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

form {
  background-color: transparent;
  padding: 25px 20px;
  border-radius: 10px;
  box-shadow: none;
  width: 300px;
  color: #ccc;
}

p {
  color: #1eff00;
  font-weight: bold;
}

a {
  width: 50%;
  align-self: center;
  padding: 12px;
  color: rgba(234, 255, 0, 0.856);
  font-size: 15px;
  font-weight: bold;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 8px 2px;
  margin-top: 4px;
  background: rgba(31, 31, 31, 0.5);
  border: 1.5px solid #010101;
  border-radius: 6px;
  color: rgb(43, 255, 0);
  font-size: 14px;
  transition: border 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 5px rgba(30, 255, 0, 0.2);
}

.input-group input:focus {
  border-color: #1eff00;
  box-shadow: 0 0 8px #1eff00, 0 0 16px #1eff00;
  outline: none;
}

button {
  width: 50%;
  align-self: center;
  padding: 12px;
  background: #3de327;
  color: rgba(255, 255, 255, 0.855);
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  animation: neon-glow 2s infinite;
  box-shadow: 0 0 10px #1eff0072, 0 0 20px #a7ff0372;
  transition: transform 0.2s, box-shadow 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #1eff00, 0 0 30px #1eff00;
}

@keyframes neon-glow {

  0%,
  100% {
    box-shadow: 0 0 10px #1eff00, 0 0 20px #1eff00, 0 0 30px #1eff00;
  }

  50% {
    box-shadow: 0 0 8px #a7ff03, 0 0 30px #a7ff03, 0 0 40px #a7ff03;
  }
}

/* Extras */

.input-group input:-webkit-autofill,
.input-group input:-webkit-autofill:focus,
.input-group input:-webkit-autofill:hover,
.input-group input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #00ff00 !important;
  color: #00ff00 !important;
  transition: background-color 5000s ease-in-out 0s;
}